@model List<ProyectoGrupal_Citas.Models.Especialidad>
@{
    ViewBag.Title = "Index";
}
<br />
<center><h1><b>Gestionar Especialidad</b></h1></center>
<div class="container">
    <p class="card-header" style="font-size:15px"><a href="~/Especialidad/AgregarEditar/" class="btn btn-secondary"> <i class="fas fa-plus"></i> Nuevo Especialidad</a> <br /><br /></p>

    @using (Html.BeginForm("Index", "Especialidad", FormMethod.Post))
    {
        <div class="text-end">
            @Html.Label("Buscar: ")
            @Html.TextBox("nombre")
            <button type="submit" class="btn btn-info"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    }
    <br />
    <div class="text-center">
        <table id="HyV" class="table">
            <thead>
                <tr>
                    <th style="width:20px">Id</th>
                    <th style="width:50px">Especialidad</th>


                    <th style="width:290px">Acciones</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {
                    <tr>
                        <th>@(m.idEspecialidad)</th>
                        <th>@(m.nombre)</th>

                        <th>
                            <a href="~/Especialidad/Ver/@m.idEspecialidad" class="btn btn-sm btn-warning"><i class="fa-solid fa-eye"></i></a>
                            <a href="~/Especialidad/AgregarEditar/@m.idEspecialidad" class="btn btn-sm btn-primary"><i class="fas fa-edit"></i> </a>
                            <a onclick="return confirm('¿Esta seguro de eliminar el registro?');" href="~/Especialidad/Eliminar/@m.idEspecialidad" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>

                        </th>
                    </tr>
                }
            </tbody>

        </table>
    </div>
    

</div>